.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width:400px;

    border-color: antiquewhite;
    border: 20px;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
